.header {
    display: flex;
    background: purple;
    position: fixed;
    height: 75px;
    width: 100%;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 6%;
}

.header_link {
    background: cyan;
    height: 30px;
    width: 100px;
    margin-right: 10px;
}

.header__menu_right {
    display: flex;
    align-items: center;
    padding-right: 6%;
}

.header_link.right {
    width: 30px;
}