.header {
    display: flex;
    background: purple;
    height: 75px;
    width: auto;
    justify-content: space-between;
    margin: 10px 7% 0 7%;
}

.header__menu {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 6%;
}

.header_link {
    background: cyan;
    height: 30px;
    width: 100px;
    margin-right: 10px;
}

.header__menu_right {
    display: flex;
    align-items: center;
    padding-right: 6%;
}

.header_link.right {
    width: 30px;
}

.container {
    display: flex;
    width: auto;
    margin: 0 7%;
}

.container__main {
    display: flex;
    flex-direction: column;
    background: orange;
    width: 100%;
    padding: 5% 2%;
}

.container__main_list {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.main__list_element {
    background: red;
    width: 20%;
    height: 80px;
    margin: 2%;
}

.container__sidebar {
    display: flex;
    flex-direction: column;
    background: limegreen;
    width: 33.3%;
    padding: 5% 2%;
}

.container__sidebar_list {
    display: flex;
    flex-direction: column;
}

.sidebar__list_element {
    height: 30px;
    width: 100%;
    background: darkmagenta;
    margin-bottom: 5px;
}