.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 820px;
    height: 1000px;
    background-color: rgb(220, 214,205);
    margin: 0 auto;
    padding: 58px 100px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(74, 66, 97);
}

.main > h1 {
    font-size: x-large;
    margin-bottom: 30px;
}

.main input {
    display: inline-flex;
    height: 20px;
}

.datas, .agesex, .sex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gender {
    display: flex;
    flex-direction: column;
}

.personal > h2, .contact > h2 {
    display: inline-block;
    color: white;
    width: 400px;
    height: 50px;
    background-color: rgb(147, 140, 151);
    font-size: larger;
    line-height: 50px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.main label {
    display: inherit;
    margin-bottom: 5px;
    font-weight: bold;
}

.main div {
    margin-bottom: 15px;
}
