body {
    background-color: #a9e6e6;
}

.container {
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    margin: auto;
    align-items: center;
}

.new-todo {
    background-color: #643579;
    display: flex;
    width: 40vw;
    height: 8vh;
    justify-content: center;
}

