body {
    background-color: #a9e6e6;
}

.container {
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    margin: auto;
    align-items: center;
    border-radius: 20px;
}

.new-todo {
    display: flex;
    width: 40vw;
    height: 8vh;
    justify-content: space-between;
}

input {
    width: 80%;
    border: red;
    border-radius: 5px;
}

button {
    background-color: #f2f062;
    font-weight: 900;
    border: black;
    border-radius: 5px;
}