body {
    background-color: #a9e6e6;
}

.container {
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    margin: auto;
    align-items: center;
    border-radius: 20px;
}

.new-todo {
    display: flex;
    width: 40vw;
    height: 8vh;
    justify-content: space-between;
    margin-bottom: 10vh;
}

input {
    width: 80%;
    border: red;
    border-radius: 5px;
}

button {
    background-color: #f2f062;
    font-weight: 900;
    border: black;
    border-radius: 5px;
    width: 5vw;
}

.todos {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    font-size: 4vh;
    overflow-y: scroll;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 100%;
    border: 2px solid black;
}

.todo-buttons {
    display: flex;
    height: 6vh;
    justify-content: flex-end;
}

.check {
    min-height: 8vh;
}