.container {
    background: lightslategray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
    display: flex;
    height: 60%;
    width: 80vw;
}

.button {
    display: flex;
    justify-content: center;
    background: whitesmoke;
    width: 5%;
    font-size: 20px;
    font-weight: bolder;
}

.button:hover {
    color: #808080;
}

.picture {
    width: 90%;
}

.info {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 25%;
    margin: 0 5%;
    background-color: rgba(0,0,0,0.8);
    color: whitesmoke;
}

h2 {
    font-size: larger;
    font-weight: 900;
    margin: 2% 2% 0;
}

p {
    font-size: small;
    color: darkgrey;
    margin: 2%;
}

.littlePics {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 15%;
    margin: 5% 0;
}

.pics {
    width: 9vw;
    margin: 0 1%;
}