.container {
    background: lightslategray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    height: 60%;
    width: 80vw;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    width: 5%;
}

.picture {
    width: 90%;
}