.menu {
    display: flex;
    background: black;
    width: 100px;
    flex-direction: column;
    padding: 5px;
}

.logo {
    display: flex;
    height: 90px;
    width: 100%;
    background: orange;
}

h1,h2 {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: bolder;
}

.name {
    align-self: center;
    font-size: 20px;
}

.monoB {
    position: relative;
    align-self: flex-end;
    font-size: 36px;
    right: 12px;
    bottom: -5px;
}